## Configuring Polars
By the end of this lecture you will be able to:
- configure how Polars data is displayed
- save and load configurations

Polars has a `pl.Config` namespace with functions that allow you to control how data is printed to the screen. We explore the options in this lecture.

In [3]:
import polars as pl

In [4]:
csv_file = "../data/titanic.csv"
df = pl.read_csv(csv_file)

## Formatting tables
We can control how tables are printed to the screen.

For example we can set the number of rows printed in a table with `set_tbl_rows`

In [7]:
pl.Config.set_tbl_rows(4)
print(df)

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …         ┆ …       ┆ …     ┆ …        │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl    ┆ … ┆ 111369    ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell            ┆   ┆           ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.       ┆ … ┆ 370376    ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick           ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

When you make a change it remains in effect until the end of the session. 

To instead apply a config setting for a single code block we can wrap it using the `with` context manager.

Note that in this case we apply the setting as an argument with `pl.Config`.

In [6]:
with pl.Config(set_tbl_rows=2):
    print(df)

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen     ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris               ┆   ┆           ┆      ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                    ┆ … ┆ …         ┆ …    ┆ …     ┆ …        │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr. Patrick  ┆ … ┆ 370376    ┆ 7.75 ┆ null  ┆ Q        │
└─────────────┴──────────┴────────┴──────────────────────┴───┴───────────┴──────┴───────┴──────────┘

To control the number of columns we use `set_tbl_cols`

In [8]:
pl.Config.set_tbl_cols(4)
df

shape: (891, 12)
┌─────────────┬──────────┬───┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ … ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆   ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆   ┆ str   ┆ str      │
╞═════════════╪══════════╪═══╪═══════╪══════════╡
│ 1           ┆ 0        ┆ … ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ … ┆ C85   ┆ C        │
│ …           ┆ …        ┆ … ┆ …     ┆ …        │
│ 890         ┆ 1        ┆ … ┆ C148  ┆ C        │
│ 891         ┆ 0        ┆ … ┆ null  ┆ Q        │
└─────────────┴──────────┴───┴───────┴──────────┘

There are numerous other function to control how tables are displayed that you can see here: https://pola-rs.github.io/polars/py-polars/html/reference/config.html

## Formatting values
To control the display of floats we can use `set_fmt_float`. The default setting limits the length of floats printed. If we use the default 'mixed` argument Polars uses scientific notation for large and small values

In [11]:
pl.Config.set_fmt_float()
s = pl.Series([1.2304980958725870923,1e6,1e-8])
print(s)

shape: (3,)
Series: '' [f64]
[
	1.230498
	1e6
	1.0000e-8
]

But we can also get the full float printed with the `full` argument

In [12]:
pl.Config.set_fmt_float("full")
print(s)

shape: (3,)
Series: '' [f64]
[
	1.230498095872587
	1000000
	0.00000001
]

In a similar way we can set the number of characters printed in strings with `set_fmt_str_lengths`

In [13]:
pl.Config.set_fmt_str_lengths(200)
df.select(pl.col(pl.Utf8)).head(2)

shape: (2, 5)
┌─────────────────────────────────────────────────────┬────────┬───┬───────┬──────────┐
│ Name                                                ┆ Sex    ┆ … ┆ Cabin ┆ Embarked │
│ ---                                                 ┆ ---    ┆   ┆ ---   ┆ ---      │
│ str                                                 ┆ str    ┆   ┆ str   ┆ str      │
╞═════════════════════════════════════════════════════╪════════╪═══╪═══════╪══════════╡
│ Braund, Mr. Owen Harris                             ┆ male   ┆ … ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Florence Briggs Thayer) ┆ female ┆ … ┆ C85   ┆ C        │
└─────────────────────────────────────────────────────┴────────┴───┴───────┴──────────┘

## Verbose mode
Polars doesn't print any information about its internal workings by default. If you want to see more information on this use the `set_verbose` function. This is often something I want for a single query I'm running so I've done this in a `with` statement here

In [9]:
with pl.Config(set_verbose=1):
    df.sort("PassengerId").group_by("PassengerId").mean()

keys/aggregates are not partitionable: running default HASH AGGREGATION
group_by keys are sorted; running sorted key fast path

Note that the content of verbose mode is made to help Polars developers do debugging so may not be informative for newcomers to the library! In this case we see the output "group_by keys are sorted; running sorted key fast path". As we see later in the course this means Polars is using a fast-track algorithm to group by this sorted column.

## Saving and loading configuration
If we want to save a set of configuration options we use `pl.Config.save_to_file` to write these to a JSON file

In [10]:
pl.Config.save_to_file("config.json")

And we can load these back in a future session with `pl.Config.load_to_file`

In [ ]:
pl.Config.load_from_file("config.json")

If we want to see the current set of options we can do this with `state`

In [ ]:
pl.Config.state()

Note that all of these config functions set environment variables under-the-hood. The names of the environment variables are set in the output of `state` above. 

We could alternatively set these as environment variables directly

In [ ]:
import os
os.environ["POLARS_FMT_MAX_COLS"] = "6"
df

We can restore default config settings with `restore_defaults`

In [ ]:
pl.Config.restore_defaults()

*No exercises for this lecture*