# Filtering rows 2: Using `filter` and the Expression API

By the end of this lecture you will be able to:
- apply conditions with the `filter` method
- add a row number column
- parition a `DataFrame`

The `filter` method is our first example of the *Expression API*.

_**Learning to use the *Expression API* is the most important step to writing high performance queries in Polars**_

In [1]:
import polars as pl

In [2]:
csv_file = "../data/titanic.csv"

In [3]:
df = pl.read_csv(csv_file)
print(df.head(3))

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [4]:
df.schema

Schema([('PassengerId', Int64),
        ('Survived', Int64),
        ('Pclass', Int64),
        ('Name', String),
        ('Sex', String),
        ('Age', Float64),
        ('SibSp', Int64),
        ('Parch', Int64),
        ('Ticket', String),
        ('Fare', Float64),
        ('Cabin', String),
        ('Embarked', String)])

In [9]:
(
    df
    .filter(
        (pl.col("Age") < 30).alias("less_than_30")
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.  ┆ … ┆ 349909    ┆ 21.075  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard     ┆   ┆           ┆         ┆       ┆          │
│ 9           ┆ 1        ┆ 3      ┆ Johnson, Mrs.     ┆ … ┆ 347742    ┆ 11.1333 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Oscar W (Elisabe… ┆   ┆           ┆         ┆       ┆          │
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.      ┆ … ┆ 237736    ┆ 30.0708 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nicholas (Adele   ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ A…                ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [13]:
(
    pl.read_csv(csv_file)
    .with_columns(
        (pl.col("Age") + 30).alias("plus30") #
    )
    .filter(
        (pl.col("plus30") < 50) #fiter by boolean
    )
    .head()
)

shape: (5, 13)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬─────────┬───────┬──────────┬────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ plus30 │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---    │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ f64     ┆ str   ┆ str      ┆ f64    │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═════════╪═══════╪══════════╪════════╡
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.     ┆ … ┆ 21.075  ┆ null  ┆ S        ┆ 32.0   │
│             ┆          ┆        ┆ Gosta Leonard        ┆   ┆         ┆       ┆          ┆        │
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.         ┆ … ┆ 30.0708 ┆ null  ┆ C        ┆ 44.0   │
│             ┆          ┆        ┆ Nicholas (Adele A…   ┆   ┆         ┆       ┆          ┆        │
│ 11          ┆ 1        ┆ 3      ┆ Sandstrom, Miss.     ┆ … ┆ 16.7    ┆ G6    ┆ S        ┆ 34.0   │
│             ┆          ┆        ┆ Marguerite Ru…       ┆   ┆         ┆       ┆          ┆        │
│ 15          ┆ 0        ┆ 3      ┆ Vestrom, Miss. Hulda ┆ … ┆ 7.8542  ┆ null  ┆ S        ┆ 44.0   │
│             ┆          ┆        ┆ Amanda Ad…           ┆   ┆         ┆       ┆          ┆        │
│ 17          ┆ 0        ┆ 3      ┆ Rice, Master. Eugene ┆ … ┆ 29.125  ┆ null  ┆ Q        ┆ 32.0   │
└─────────────┴──────────┴────────┴──────────────────────┴───┴─────────┴───────┴──────────┴────────┘

In [14]:
# renam ecolumn name - > use rename method
(
    pl.read_csv(csv_file)
    .rename({'Age' : 'less_than_30'})
    .filter(
        pl.col('less_than_30') < 30
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.  ┆ … ┆ 349909    ┆ 21.075  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard     ┆   ┆           ┆         ┆       ┆          │
│ 9           ┆ 1        ┆ 3      ┆ Johnson, Mrs.     ┆ … ┆ 347742    ┆ 11.1333 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Oscar W (Elisabe… ┆   ┆           ┆         ┆       ┆          │
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.      ┆ … ┆ 237736    ┆ 30.0708 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nicholas (Adele   ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ A…                ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Applying conditions with `filter`

We use the `filter` method to filter rows according to a condition.

> In Pandas we often use a boolean mask to filter rows but in Polars we use `filter`. Note also that the `filter` method in Polars is quite different from the filter method in Pandas.

We first use an *expression* in the `filter` method before we examine the syntax in more detail.

In this example we want to keep all rows with the first class passengers

* `filter`은 해당 열의 boolean 값에 따라 출력 여부를 결정 (True => 출력, False => 미출력)

In [6]:
# (
#     df
#     .filter(
#         pl.col('Pclass') == 1
#     )
#     .head(2)
# )
(
    df
    .filter(
        pl.col('Pclass') == 1
    )
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

## Syntax of `filter`
Inside the `filter` method we pass an _**expression**_ and apply a Boolean condition to it:

`pl.col('Pclass') == 1`

This expression has two parts:
- `pl.col('Pclass')` expression selects the `Pclass` column from `df`
- `== 1` applies a Boolean condition to this expression

In this example we choose all rows with the number of parents & children (`Parch`) is greater than 1

In [8]:
# (
#     df
#     .filter(
#         pl.col('Parch') > 1
#     )
#     .head(2)
# )
(
    df
    .filter(
        pl.col("Parch") > 1
    )
    .head()
)

shape: (5, 12)
┌────────────────┬──────────┬────────┬───────────────┬───┬──────────┬─────────┬─────────┬──────────┐
│ PassengerId    ┆ Survived ┆ Pclass ┆ Name          ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin   ┆ Embarked │
│ ---            ┆ ---      ┆ ---    ┆ ---           ┆   ┆ ---      ┆ ---     ┆ ---     ┆ ---      │
│ i64            ┆ i64      ┆ i64    ┆ str           ┆   ┆ str      ┆ f64     ┆ str     ┆ str      │
╞════════════════╪══════════╪════════╪═══════════════╪═══╪══════════╪═════════╪═════════╪══════════╡
│ 9              ┆ 1        ┆ 3      ┆ Johnson, Mrs. ┆ … ┆ 347742   ┆ 11.1333 ┆ null    ┆ S        │
│                ┆          ┆        ┆ Oscar W       ┆   ┆          ┆         ┆         ┆          │
│                ┆          ┆        ┆ (Elisabe…     ┆   ┆          ┆         ┆         ┆          │
│ 14             ┆ 0        ┆ 3      ┆ Andersson,    ┆ … ┆ 347082   ┆ 31.275  ┆ null    ┆ S        │
│                ┆          ┆        ┆ Mr. Anders    ┆   ┆          ┆         ┆         ┆          │
│                ┆          ┆        ┆ Johan         ┆   ┆          ┆         ┆         ┆          │
│ 26             ┆ 1        ┆ 3      ┆ Asplund, Mrs. ┆ … ┆ 347077   ┆ 31.3875 ┆ null    ┆ S        │
│                ┆          ┆        ┆ Carl Oscar    ┆   ┆          ┆         ┆         ┆          │
│                ┆          ┆        ┆ (Selm…        ┆   ┆          ┆         ┆         ┆          │
│ 28             ┆ 0        ┆ 1      ┆ Fortune, Mr.  ┆ … ┆ 19950    ┆ 263.0   ┆ C23 C25 ┆ S        │
│                ┆          ┆        ┆ Charles       ┆   ┆          ┆         ┆ C27     ┆          │
│                ┆          ┆        ┆ Alexander     ┆   ┆          ┆         ┆         ┆          │
│ 44             ┆ 1        ┆ 2      ┆ Laroche,      ┆ … ┆ SC/Paris ┆ 41.5792 ┆ null    ┆ C        │
│                ┆          ┆        ┆ Miss. Simonne ┆   ┆ 2123     ┆         ┆         ┆          │
│                ┆          ┆        ┆ Marie A…      ┆   ┆          ┆         ┆         ┆          │
└────────────────┴──────────┴────────┴───────────────┴───┴──────────┴─────────┴─────────┴──────────┘

As well as the mathemtical operators such as `==`,`>`,`<` there are corresponding text operators that some people find more readable

In [13]:
(
    df
    .filter(
        pl.col('Parch').gt(1)
    )
    .select("PassengerId","Parch","SibSp")
    .head(5)
)

shape: (5, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 9           ┆ 2     ┆ 0     │
│ 14          ┆ 5     ┆ 1     │
│ 26          ┆ 5     ┆ 1     │
│ 28          ┆ 2     ┆ 3     │
│ 44          ┆ 2     ┆ 1     │
└─────────────┴───────┴───────┘

In [14]:
# 필요한 열을 선택 후 필터링
(
    df
    .select(
        pl.col(["PassengerId", "Parch", "SibSp"])
    )
    .filter(
        pl.col('Parch') > 1
    )
    .head()
)

shape: (5, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 9           ┆ 2     ┆ 0     │
│ 14          ┆ 5     ┆ 1     │
│ 26          ┆ 5     ┆ 1     │
│ 28          ┆ 2     ┆ 3     │
│ 44          ┆ 2     ┆ 1     │
└─────────────┴───────┴───────┘

You can see the full set of operators here: https://pola-rs.github.io/polars/py-polars/html/reference/expressions/operators.html

We can make a filter condition based on two expressions (i.e. comparing data in one column to another) rather than one expression and a constant. In this example we find rows where the number of parents & children (`Parch`) is greater than the number of siblings (`SibSp`)

In [17]:
(
    df
    .filter(
        pl.col('Parch').gt(pl.col("SibSp"))
    )
    .select("PassengerId","Parch","SibSp")
    .head(5)
)

shape: (5, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 9           ┆ 2     ┆ 0     │
│ 14          ┆ 5     ┆ 1     │
│ 26          ┆ 5     ┆ 1     │
│ 44          ┆ 2     ┆ 1     │
│ 55          ┆ 1     ┆ 0     │
└─────────────┴───────┴───────┘

In [16]:
# 부모 및 자식 수(`Parch`)가 형제자매 수(`SibSp`)보다 큰 행을 찾습니다.
(
    df
    .select("PassengerId", "Parch", "SibSp")
    .filter(
        pl.col('Parch') > pl.col('SibSp')
    )
    .head()
)

shape: (5, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 9           ┆ 2     ┆ 0     │
│ 14          ┆ 5     ┆ 1     │
│ 26          ┆ 5     ┆ 1     │
│ 44          ┆ 2     ┆ 1     │
│ 55          ┆ 1     ┆ 0     │
└─────────────┴───────┴───────┘

To save a bit of typing we can also apply a filter to a column by passing the column name directly

In [18]:
(
    df
    .filter(
        Parch = 3,
    )
    .select("PassengerId","Parch","SibSp")
    .head(5)
)

shape: (5, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 87          ┆ 3     ┆ 1     │
│ 438         ┆ 3     ┆ 2     │
│ 737         ┆ 3     ┆ 1     │
│ 775         ┆ 3     ┆ 1     │
│ 859         ┆ 3     ┆ 0     │
└─────────────┴───────┴───────┘

In [20]:
(
    df
    .select("PassengerId", "Parch", "SibSp")
    .filter(
        Parch = 3
    )
    .head()
)

shape: (5, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 87          ┆ 3     ┆ 1     │
│ 438         ┆ 3     ┆ 2     │
│ 737         ┆ 3     ┆ 1     │
│ 775         ┆ 3     ┆ 1     │
│ 859         ┆ 3     ┆ 0     │
└─────────────┴───────┴───────┘

This approach only works for equality conditions (i.e. not for >,< etc). 

Why does this simple approach only work for equalities? Because in this approach Polars takes advantage of Python keyword arguments - we are basically "pretending" we are calling `filter` with an argument called `Parch` equal to 3 which Polars internally converts to `pl.col("Parch") == 3`. Python only lets us use this trick with the `=` operator

### Conditions based on row numbers with `filter`

We can add an explicit row number column using `with_row_index` on a `DataFrame`
* `with_row_index`는 explicit한 Index를 붙어준다.
*  arugment는 name = "index 이름"

In [27]:
df = pl.read_csv(csv_file)
print(df.head())

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [28]:
df = df.with_row_index(name='이름')
df.head(3)

shape: (3, 13)
┌──────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0    ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1    ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2    ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└──────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

We can then use `filter` to apply a condition based on row number

In [29]:
(
    df
    .filter(
        pl.col('이름') < 4
    )
)

shape: (4, 13)
┌──────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0    ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1    ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2    ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3    ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
└──────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

However, a simpler way to do this is with `slice`

In [30]:
(
    df
    .slice(0,4)
)

shape: (4, 13)
┌──────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0    ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1    ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2    ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3    ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
└──────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

### Filtering on a Boolean column
We can filter for `True` values on a Boolean column by passing the column as an expression to `filter` without a condition

* `df.with_columns()`는 기존의 df에 새로운 컬럼을 추가하거나 기존 컬럼을 업데이트할때 사용하는 메서드이다.

In [31]:
(
    df
    .with_columns(
        less_than_30 = pl.col("Age") < 30
    )
    .filter(
        pl.col("less_than_30")
    )
    .head(2)
)

shape: (2, 14)
┌──────┬─────────────┬──────────┬────────┬───┬───────┬───────┬──────────┬──────────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Fare  ┆ Cabin ┆ Embarked ┆ less_than_30 │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---   ┆ ---   ┆ ---      ┆ ---          │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ f64   ┆ str   ┆ str      ┆ bool         │
╞══════╪═════════════╪══════════╪════════╪═══╪═══════╪═══════╪══════════╪══════════════╡
│ 0    ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ 7.25  ┆ null  ┆ S        ┆ true         │
│ 2    ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ 7.925 ┆ null  ┆ S        ┆ true         │
└──────┴─────────────┴──────────┴────────┴───┴───────┴───────┴──────────┴──────────────┘

In [37]:
(
    df
    .with_columns(
        (pl.col("Age") < 30).alias("test")
    )
    .filter(
        pl.col('test')
    )
    .head(2)
)

shape: (2, 14)
┌──────┬─────────────┬──────────┬────────┬───┬───────┬───────┬──────────┬──────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Fare  ┆ Cabin ┆ Embarked ┆ test │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---   ┆ ---   ┆ ---      ┆ ---  │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ f64   ┆ str   ┆ str      ┆ bool │
╞══════╪═════════════╪══════════╪════════╪═══╪═══════╪═══════╪══════════╪══════╡
│ 0    ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ 7.25  ┆ null  ┆ S        ┆ true │
│ 2    ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ 7.925 ┆ null  ┆ S        ┆ true │
└──────┴─────────────┴──────────┴────────┴───┴───────┴───────┴──────────┴──────┘

We can negate a filter condition with `~`

In [38]:
(
    df
    .with_columns(
        less_than_30 = pl.col("Age") < 30
    )
    .filter(
        ~pl.col("less_than_30")
    )
    .head(2)
)

shape: (2, 14)
┌──────┬─────────────┬──────────┬────────┬───┬─────────┬───────┬──────────┬──────────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ less_than_30 │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---          │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ f64     ┆ str   ┆ str      ┆ bool         │
╞══════╪═════════════╪══════════╪════════╪═══╪═════════╪═══════╪══════════╪══════════════╡
│ 1    ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ false        │
│ 3    ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ false        │
└──────┴─────────────┴──────────┴────────┴───┴─────────┴───────┴──────────┴──────────────┘

In [40]:
(
    df
    .with_columns(
        (pl.col("Age") < 30).alias('less_than_30')
    )
    .filter(
        ~pl.col('less_than_30')
    )
    .head(2)
)

shape: (2, 14)
┌──────┬─────────────┬──────────┬────────┬───┬─────────┬───────┬──────────┬──────────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ less_than_30 │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---          │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ f64     ┆ str   ┆ str      ┆ bool         │
╞══════╪═════════════╪══════════╪════════╪═══╪═════════╪═══════╪══════════╪══════════════╡
│ 1    ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ false        │
│ 3    ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ false        │
└──────┴─────────────┴──────────┴────────┴───┴─────────┴───────┴──────────┴──────────────┘

or with the `not_` expression

In [ ]:
(
    df
    .with_columns(
        less_than_30 = pl.col("Age") < 30
    )
    .filter(
        pl.col("less_than_30").not_()
    )
    .head(2)
)

## Partitioning a `DataFrame`
In some cases we want to get the different subsets of the `DataFrame` that result from a single condition. 

We can do this partition into sub-`DataFrames` with the `partition_by` method.

In this example we partition by the `Pclass` column

* `df.partition_by(by = [분할한 기준], as_dict = True) , as_dict=>결과를 딕셔너리로 
* by = 카테로리컬한 변수로 하면 좋을듯

In [55]:
df_pclass_dict = (
    df
    .partition_by(by=["Pclass"],as_dict=True)
)

In [54]:
for i, partiton in enumerate(df_pclass_dict):
    print("Partition {0} :".format(partiton))
    print(df_pclass_dict[partiton].head(1))
    print("\n")

Partition (3,) :
shape: (1, 13)
┌──────┬─────────────┬──────────┬────────┬───┬───────────┬──────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 0    ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
└──────┴─────────────┴──────────┴────────┴───┴───────────┴──────┴───────┴──────────┘


Partition (1,) :
shape: (1, 13)
┌──────┬─────────────┬──────────┬────────┬───┬──────────┬─────────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 1    ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
└──────┴─────────────┴──────────┴────────┴───┴──────────┴─────────┴───────┴──────────┘


Partition (2,) :
shape: (1, 13)
┌──────┬─────────────┬──────────┬────────┬───┬────────┬─────────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---    ┆ ---     ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str    ┆ f64     ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪════════╪═════════╪═══════╪══════════╡
│ 9    ┆ 10          ┆ 1        ┆ 2      ┆ … ┆ 237736 ┆ 30.0708 ┆ null  ┆ C        │
└──────┴─────────────┴──────────┴────────┴───┴────────┴─────────┴───────┴──────────┘

The output is a python `dict` mapping from the unique values in `Pclass` to the sub-`DataFrame` for each class. This partition requires copying the data in `df` to new sub-`DataFrames`.

Note that the keys of this `dict` are always tuples even if there is just one element in the tuple for each key

In [43]:
df_pclass_dict.keys()

dict_keys([(3,), (1,), (2,)])

Note that if we don't pass the `as_dict=True` argument we instead get a python `list` of sub-`DataFrames`.

We can get the rows with first class passengers from this `dict` (note the `,` which turns `1` into the tuple `(1,)`

In [65]:
tmp = (
    df
    .partition_by(by = "Pclass")
)
tmp[0].head(3)

shape: (3, 13)
┌──────┬─────────────┬──────────┬────────┬───┬──────────────────┬───────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare  ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---   ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64   ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═══════╪═══════╪══════════╡
│ 0    ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25  ┆ null  ┆ S        │
│ 2    ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925 ┆ null  ┆ S        │
│ 4    ┆ 5           ┆ 0        ┆ 3      ┆ … ┆ 373450           ┆ 8.05  ┆ null  ┆ S        │
└──────┴─────────────┴──────────┴────────┴───┴──────────────────┴───────┴───────┴──────────┘

In [60]:
df_pclass_dict[1,].head(2)

shape: (2, 13)
┌──────┬─────────────┬──────────┬────────┬───┬──────────┬─────────┬───────┬──────────┐
│ 이름 ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---  ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ u32  ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞══════╪═════════════╪══════════╪════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 1    ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│ 3    ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
└──────┴─────────────┴──────────┴────────┴───┴──────────┴─────────┴───────┴──────────┘

## Filter in lazy mode
We create a `LazyFrame` by scanning the CSV and adding a `filter` operation

In [66]:
(
    pl.scan_csv(csv_file)
    .filter(pl.col("Age") > 30)
)

In [70]:
less_than_30_l = (
    pl.scan_csv(csv_file)
    .filter(
        pl.col('Age') > 30
    )
)

In [72]:
print(less_than_30_l.collect().head())

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆          ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450   ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆          ┆         ┆       ┆          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.      ┆ … ┆ 17463    ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J          ┆   ┆          ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.     ┆ … ┆ 113783   ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth          ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

When we print the optimized plan we see the `filter` operation is part of the `SELECTION`. This query optimisation is called **predicate pushdown**. With predicate pushdown Polars tries to apply a `filter` as early as possible in a query plan to reduce the amount of data that must be processed

In [67]:
print(
    pl.scan_csv(csv_file)
    .filter(pl.col("Age") > 30)
    .explain()
)

Csv SCAN [../data/titanic.csv]
PROJECT */12 COLUMNS
SELECTION: [(col("Age")) > (30.0)]

In this case of a `filter` applied on a query like this from a CSV on our local machine the query optimisation will not have much impact: Polars just reads the CSV, makes a `DataFrame` in memory and then filters the `DataFrame`. The result would probably be similar to doing the query in eager mode.

However, if we are reading a file from cloud storage then Polars tries to apply the condition in `SELECTION` in the cloud storage and so reduces the amount of data that must be transferred across the network. The transfer across the network is typically the slowest and most expensive part of the query.


If we set `streaming=True` in `explain` we see that the `filter` operation comes after `STREAMING` in the query plan - this means that Polars can do this filter operation in streaming mode if we evaluate the lazy query with `.collect(streaming=True)`

In [ ]:
print(
    pl.scan_csv(csv_file)
    .filter(pl.col("Age") > 30)
    .explain(streaming=True)
)

# Exercises
In the exercises you will develop your understanding of
- using the `filter` method
- adding a row number column
- partitioning a `DataFrame`

### Exercise 1 
Select all rows where `Age` is greater than 30

In [73]:
(
    pl.read_csv(csv_file)
    .select(
        pl.col("*")
    )
    .filter(
        pl.col('Age') > 30
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆          ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450   ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆          ┆         ┆       ┆          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.      ┆ … ┆ 17463    ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J          ┆   ┆          ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.     ┆ … ┆ 113783   ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth          ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

Select all rows where `Embarked` is equal to "C" - using the keyword approach

In [74]:
df = pl.read_csv(csv_file)

(
    df
    .select(
        pl.col("*")
    )
    .filter(
        pl.col("Embarked") == "C"
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.       ┆ … ┆ 237736   ┆ 30.0708 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nicholas (Adele A… ┆   ┆          ┆         ┆       ┆          │
│ 20          ┆ 1        ┆ 3      ┆ Masselmani, Mrs.   ┆ … ┆ 2649     ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Fatima             ┆   ┆          ┆         ┆       ┆          │
│ 27          ┆ 0        ┆ 3      ┆ Emir, Mr. Farred   ┆ … ┆ 2631     ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Chehab             ┆   ┆          ┆         ┆       ┆          │
│ 31          ┆ 0        ┆ 1      ┆ Uruchurtu, Don.    ┆ … ┆ PC 17601 ┆ 27.7208 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Manuel E           ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [75]:
(
    df
    .select(
        pl.col("*")
    )
    .filter(
        pl.col("Embarked").str.contains("C")
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.       ┆ … ┆ 237736   ┆ 30.0708 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nicholas (Adele A… ┆   ┆          ┆         ┆       ┆          │
│ 20          ┆ 1        ┆ 3      ┆ Masselmani, Mrs.   ┆ … ┆ 2649     ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Fatima             ┆   ┆          ┆         ┆       ┆          │
│ 27          ┆ 0        ┆ 3      ┆ Emir, Mr. Farred   ┆ … ┆ 2631     ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Chehab             ┆   ┆          ┆         ┆       ┆          │
│ 31          ┆ 0        ┆ 1      ┆ Uruchurtu, Don.    ┆ … ┆ PC 17601 ┆ 27.7208 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Manuel E           ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

Select all rows where `Embarked` is **not** equal to "C"

In [77]:
(
    df
    .filter(
        (pl.col("Embarked") != "C")
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket    ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---       ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str       ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════════╪════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ A/5 21171 ┆ 7.25   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris             ┆   ┆           ┆        ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ STON/O2.  ┆ 7.925  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina              ┆   ┆ 3101282   ┆        ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803    ┆ 53.1   ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆           ┆        ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450    ┆ 8.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆           ┆        ┆       ┆          │
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James   ┆ … ┆ 330877    ┆ 8.4583 ┆ null  ┆ Q        │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────────┴────────┴───────┴──────────┘

In [78]:
(
    df
    .filter(
        ~(pl.col("Embarked") == "C")
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket    ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---       ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str       ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════════╪════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ A/5 21171 ┆ 7.25   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris             ┆   ┆           ┆        ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ STON/O2.  ┆ 7.925  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina              ┆   ┆ 3101282   ┆        ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803    ┆ 53.1   ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆           ┆        ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450    ┆ 8.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆           ┆        ┆       ┆          │
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James   ┆ … ┆ 330877    ┆ 8.4583 ┆ null  ┆ Q        │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────────┴────────┴───────┴──────────┘

### Exercise 2 

In this exercise we filter on row numbers.

First add a row number column

In [82]:
df = (
    pl.read_csv(csv_file)
    .with_row_index(name = "index")
)
df.head()

shape: (5, 13)
┌───────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ index ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---   ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32   ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0     ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1     ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2     ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3     ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│ 4     ┆ 5           ┆ 0        ┆ 3      ┆ … ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
└───────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

Continue by selecting the first 5 rows using `filter` on the row number column

In [83]:
(
    df
    .filter(
        pl.col("index") < 5
    )
)

shape: (5, 13)
┌───────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ index ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---   ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32   ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0     ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1     ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2     ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3     ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│ 4     ┆ 5           ┆ 0        ┆ 3      ┆ … ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
└───────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

### Exercise 3
Partition the `DataFrame` by the `Survived` and `Pclass` columns as a `dict` (you may want to check the API docs for help: https://pola-rs.github.io/polars/py-polars/html/reference/dataframe/api/polars.DataFrame.partition_by.html#polars.DataFrame.partition_by)

In [86]:
survived_pclass_dict = (
    pl.read_csv(csv_file)
    .partition_by(by = ["Survived", "Pclass"], as_dict=True)
)

Return the sub-`DataFrame` with the passengers who did not survive from the third class

In [94]:
survived_pclass_dict[(0,3)].head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket    ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---       ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str       ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════════╪════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ A/5 21171 ┆ 7.25   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris             ┆   ┆           ┆        ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450    ┆ 8.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆           ┆        ┆       ┆          │
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James   ┆ … ┆ 330877    ┆ 8.4583 ┆ null  ┆ Q        │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.   ┆ … ┆ 349909    ┆ 21.075 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard      ┆   ┆           ┆        ┆       ┆          │
│ 13          ┆ 0        ┆ 3      ┆ Saundercock, Mr.   ┆ … ┆ A/5. 2151 ┆ 8.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry      ┆   ┆           ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────────┴────────┴───────┴──────────┘

In [98]:
(
    pl.scan_csv(csv_file)
    .filter(
        (pl.col('Survived') == 0) & (pl.col('Pclass') == 3)
    )
    .head()
    .collect()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket    ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---       ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str       ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════════╪════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ A/5 21171 ┆ 7.25   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris             ┆   ┆           ┆        ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450    ┆ 8.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆           ┆        ┆       ┆          │
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James   ┆ … ┆ 330877    ┆ 8.4583 ┆ null  ┆ Q        │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.   ┆ … ┆ 349909    ┆ 21.075 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard      ┆   ┆           ┆        ┆       ┆          │
│ 13          ┆ 0        ┆ 3      ┆ Saundercock, Mr.   ┆ … ┆ A/5. 2151 ┆ 8.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry      ┆   ┆           ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────────┴────────┴───────┴──────────┘

### Exercise 4
In this exercise we load data from the Spotify charts

In [104]:
spotify_csv = "../data/spotify-charts-2017-2021-global-top200.csv.gz"
spotify_df = pl.read_csv(spotify_csv)

In [108]:
import pandas as pd
tmp = pd.read_csv(spotify_csv)

In [105]:
print(spotify_df.shape)
spotify_df.head()

(362182, 9)

shape: (5, 9)
┌───────────────┬──────┬────────────┬───────────────┬───┬────────┬────────┬──────────────┬─────────┐
│ title         ┆ rank ┆ date       ┆ artist        ┆ … ┆ region ┆ chart  ┆ trend        ┆ streams │
│ ---           ┆ ---  ┆ ---        ┆ ---           ┆   ┆ ---    ┆ ---    ┆ ---          ┆ ---     │
│ str           ┆ i64  ┆ str        ┆ str           ┆   ┆ str    ┆ str    ┆ str          ┆ i64     │
╞═══════════════╪══════╪════════════╪═══════════════╪═══╪════════╪════════╪══════════════╪═════════╡
│ Starboy       ┆ 1    ┆ 2017-01-01 ┆ The Weeknd,   ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 3135625 │
│               ┆      ┆            ┆ Daft Punk     ┆   ┆        ┆        ┆ N            ┆         │
│ Closer        ┆ 2    ┆ 2017-01-01 ┆ The           ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 3015525 │
│               ┆      ┆            ┆ Chainsmokers, ┆   ┆        ┆        ┆ N            ┆         │
│               ┆      ┆            ┆ Halsey        ┆   ┆        ┆        ┆              ┆         │
│ Let Me Love   ┆ 3    ┆ 2017-01-01 ┆ DJ Snake,     ┆ … ┆ Global ┆ top200 ┆ MOVE_UP      ┆ 2545384 │
│ You           ┆      ┆            ┆ Justin Bieber ┆   ┆        ┆        ┆              ┆         │
│ Rockabye      ┆ 4    ┆ 2017-01-01 ┆ Clean Bandit  ┆ … ┆ Global ┆ top200 ┆ MOVE_DOWN    ┆ 2356604 │
│ (feat. Sean   ┆      ┆            ┆               ┆   ┆        ┆        ┆              ┆         │
│ Paul & An…    ┆      ┆            ┆               ┆   ┆        ┆        ┆              ┆         │
│ One Dance     ┆ 5    ┆ 2017-01-01 ┆ Drake,        ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 2259887 │
│               ┆      ┆            ┆ WizKid, Kyla  ┆   ┆        ┆        ┆ N            ┆         │
└───────────────┴──────┴────────────┴───────────────┴───┴────────┴────────┴──────────────┴─────────┘

Filter the `DataFrame` to find all rows with artist Post Malone

In [148]:
# (
#     spotify_df
#     .filter(
#         pl.col('artist').str.contains('Post Malone')
#     )
#     .filter(
#         pl.col('artist') != "Post Malone"
#     )
#     .select(
#         pl.col('artist').str.split(",").alias('name'),
#         pl.col("*")
#     )
#     .with_columns(
#         (pl.col('name') != "Post Malone").alias('fer')
#     )
# )

def re(x):
    tmp = []
    for i in x:
        if i != "Post Malone":
            tmp.append(i)
    return(i)

(
    spotify_df
    .filter(
        pl.col('artist').str.contains('Post Malone')
    )
    .with_columns(
        pl.col('artist').str.split(', ')
        .map_elements(re, return_dtype=pl.Utf8)
        .alias('name_list')
    )
    .filter(
        pl.col("name_list") != "Post Malone"
    )
    .head()
)

shape: (5, 10)
┌──────────────┬──────┬────────────┬──────────────┬───┬────────┬─────────────┬─────────┬───────────┐
│ title        ┆ rank ┆ date       ┆ artist       ┆ … ┆ chart  ┆ trend       ┆ streams ┆ name_list │
│ ---          ┆ ---  ┆ ---        ┆ ---          ┆   ┆ ---    ┆ ---         ┆ ---     ┆ ---       │
│ str          ┆ i64  ┆ str        ┆ str          ┆   ┆ str    ┆ str         ┆ i64     ┆ str       │
╞══════════════╪══════╪════════════╪══════════════╪═══╪════════╪═════════════╪═════════╪═══════════╡
│ rockstar     ┆ 9    ┆ 2018-03-01 ┆ Post Malone, ┆ … ┆ top200 ┆ MOVE_UP     ┆ 2891782 ┆ 21 Savage │
│              ┆      ┆            ┆ 21 Savage    ┆   ┆        ┆             ┆         ┆           │
│ Congratulati ┆ 53   ┆ 2018-03-01 ┆ Post Malone, ┆ … ┆ top200 ┆ SAME_POSITI ┆ 1204905 ┆ Quavo     │
│ ons          ┆      ┆            ┆ Quavo        ┆   ┆        ┆ ON          ┆         ┆           │
│ Congratulati ┆ 99   ┆ 2017-02-01 ┆ Post Malone, ┆ … ┆ top200 ┆ MOVE_UP     ┆ 661482  ┆ Quavo     │
│ ons          ┆      ┆            ┆ Quavo        ┆   ┆        ┆             ┆         ┆           │
│ rockstar     ┆ 9    ┆ 2018-03-02 ┆ Post Malone, ┆ … ┆ top200 ┆ SAME_POSITI ┆ 3031242 ┆ 21 Savage │
│              ┆      ┆            ┆ 21 Savage    ┆   ┆        ┆ ON          ┆         ┆           │
│ Congratulati ┆ 58   ┆ 2018-03-02 ┆ Post Malone, ┆ … ┆ top200 ┆ MOVE_DOWN   ┆ 1240041 ┆ Quavo     │
│ ons          ┆      ┆            ┆ Quavo        ┆   ┆        ┆             ┆         ┆           │
└──────────────┴──────┴────────────┴──────────────┴───┴────────┴─────────────┴─────────┴───────────┘

In [149]:
(
    spotify_df
    .filter(pl.col('artist').str.contains('Post Malone'))  # Post Malone이 포함된 행 필터
    .with_columns(
        pl.col('artist')
        .str.replace_all(r'Post Malone(, )?', '')  # Post Malone을 제거
        .alias('name_list')
    )
    .filter(pl.col('name_list') != '')  # Post Malone이 아닌 값만 필터링
)

shape: (2_663, 10)
┌──────────────┬──────┬────────────┬──────────────┬───┬────────┬─────────────┬─────────┬───────────┐
│ title        ┆ rank ┆ date       ┆ artist       ┆ … ┆ chart  ┆ trend       ┆ streams ┆ name_list │
│ ---          ┆ ---  ┆ ---        ┆ ---          ┆   ┆ ---    ┆ ---         ┆ ---     ┆ ---       │
│ str          ┆ i64  ┆ str        ┆ str          ┆   ┆ str    ┆ str         ┆ i64     ┆ str       │
╞══════════════╪══════╪════════════╪══════════════╪═══╪════════╪═════════════╪═════════╪═══════════╡
│ rockstar     ┆ 9    ┆ 2018-03-01 ┆ Post Malone, ┆ … ┆ top200 ┆ MOVE_UP     ┆ 2891782 ┆ 21 Savage │
│              ┆      ┆            ┆ 21 Savage    ┆   ┆        ┆             ┆         ┆           │
│ Congratulati ┆ 53   ┆ 2018-03-01 ┆ Post Malone, ┆ … ┆ top200 ┆ SAME_POSITI ┆ 1204905 ┆ Quavo     │
│ ons          ┆      ┆            ┆ Quavo        ┆   ┆        ┆ ON          ┆         ┆           │
│ Notice Me    ┆ 169  ┆ 2018-03-01 ┆ Migos, Post  ┆ … ┆ top200 ┆ MOVE_DOWN   ┆ 585310  ┆ Migos,    │
│              ┆      ┆            ┆ Malone       ┆   ┆        ┆             ┆         ┆           │
│ Congratulati ┆ 99   ┆ 2017-02-01 ┆ Post Malone, ┆ … ┆ top200 ┆ MOVE_UP     ┆ 661482  ┆ Quavo     │
│ ons          ┆      ┆            ┆ Quavo        ┆   ┆        ┆             ┆         ┆           │
│ rockstar     ┆ 9    ┆ 2018-03-02 ┆ Post Malone, ┆ … ┆ top200 ┆ SAME_POSITI ┆ 3031242 ┆ 21 Savage │
│              ┆      ┆            ┆ 21 Savage    ┆   ┆        ┆ ON          ┆         ┆           │
│ …            ┆ …    ┆ …          ┆ …            ┆ … ┆ …      ┆ …           ┆ …       ┆ …         │
│ Congratulati ┆ 52   ┆ 2018-01-30 ┆ Post Malone, ┆ … ┆ top200 ┆ MOVE_UP     ┆ 1300752 ┆ Quavo     │
│ ons          ┆      ┆            ┆ Quavo        ┆   ┆        ┆             ┆         ┆           │
│ Notice Me    ┆ 64   ┆ 2018-01-30 ┆ Migos, Post  ┆ … ┆ top200 ┆ MOVE_DOWN   ┆ 1081383 ┆ Migos,    │
│              ┆      ┆            ┆ Malone       ┆   ┆        ┆             ┆         ┆           │
│ rockstar     ┆ 3    ┆ 2018-01-31 ┆ Post Malone, ┆ … ┆ top200 ┆ SAME_POSITI ┆ 3447564 ┆ 21 Savage │
│              ┆      ┆            ┆ 21 Savage    ┆   ┆        ┆ ON          ┆         ┆           │
│ Congratulati ┆ 54   ┆ 2018-01-31 ┆ Post Malone, ┆ … ┆ top200 ┆ MOVE_DOWN   ┆ 1284862 ┆ Quavo     │
│ ons          ┆      ┆            ┆ Quavo        ┆   ┆        ┆             ┆         ┆           │
│ Notice Me    ┆ 70   ┆ 2018-01-31 ┆ Migos, Post  ┆ … ┆ top200 ┆ MOVE_DOWN   ┆ 1046189 ┆ Migos,    │
│              ┆      ┆            ┆ Malone       ┆   ┆        ┆             ┆         ┆           │
└──────────────┴──────┴────────────┴──────────────┴───┴────────┴─────────────┴─────────┴───────────┘

## Solutions

### Solution to Exercise 1
Select all rows with `Age` greater than 30

In [ ]:
(
    pl.read_csv(csv_file)
    .filter(pl.col('Age') > 30)
    .head(3)
)

Select all rows where `Embarked` is equal to "C" - using the keyword approach

In [ ]:
(
    pl.read_csv(csv_file)
    .filter(Embarked = "C")
    .head(3)
)

Select all rows where `Embarked` is equal to "C" - use `pl.col` with the text operator rather than the mathematical operator this time

In [ ]:
(
    pl.read_csv(csv_file)
    .filter(pl.col("Embarked").eq("C"))
    .head(3)
)

Select all rows where `Embarked` is **not** equal to "C"

In [ ]:
(
    pl.read_csv(csv_file)
    .filter(~pl.col("Embarked").eq("C"))
    .head(3)
)

### Solution to Exercise 2
Add a row number column

In [ ]:
(
    pl.read_csv(csv_file)
    .with_row_index("row_nr")
)

Continue by selecting the first 5 rows using `filter` on the row number column

In [ ]:
(
    pl.read_csv(csv_file)
    .with_row_index("row_nr")
    .filter(pl.col("row_nr")<5)
)

### Solution to Exercise 3
Partition the `DataFrame` by the `Survived` and `Pclass` columns as a `dict`

In [ ]:
survived_pclass_dict = (
    pl.read_csv(csv_file)
    .partition_by("Survived","Pclass",as_dict=True)
)

In [ ]:
survived_pclass_dict.keys()

Return the sub-`DataFrame` with the passengers who did not survive from the third class

In [ ]:
(
    survived_pclass_dict[(0,3)]
    .head(2)
)

### Solution to Exercise 4
In this exercise we load data from the Spotify charts in a compressed CSV

In [ ]:
spotify_csv = "../data/spotify-charts-2017-2021-global-top200.csv.gz"
spotify_df = pl.read_csv(spotify_csv)
spotify_df.head()

Filter the `DataFrame` to find all rows with artist Post Malone

In [ ]:
(
    spotify_df
    .filter(
        pl.col("artist") == "Post Malone"
    )
)